@model IEnumerable<ServiceST.DAL.Entities.Client>

<select id="fname" name="FName" class="form-control">
    <option disabled="" selected>Choose a name</option>
    @foreach (var item in Model)
    {
        <option value="@item.id">@item.first_name</option>
    }
</select>
