@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    Address
    Phone
</address>

<address>
    <strong>Support:</strong><a href="mailto:OurEmail@mail.ru">Our Email</a><br />
</address>