@{
    ViewBag.Title = "Main";
}

<div>
    <h2>Service Station</h2>
    <p class="lead">We repair any cars including the French</p>
    <img src="~/Content/service.png" width="500" height="370" />
    <p></p>
    <p><a href="/Home/Contact" class="btn btn-primary btn-lg">Contact</a></p>
</div>

<div class="row">
    <div class="col-md-4">
     </div>
</div>